{{ nil, $containers := groupBy $ "Env.LIBRESH_WEBHOOK_SECRET_HASH" }}
{{ range $index, $container := $containers }}
[
  {{ if $index }},{{ end }}{
    "id": "{{ $container.Env.LIBRESH_WEBHOOK_SECRET_HASH }}",
    "execute-command": "/opt/bin/libre",
    "include-command-output-in-response": true,
    "pass-arguments-to-command": [
      {
        "source": "url",
        "name": "action"
      } 
    ],
    "command-working-directory": "/data/domains/{{ $container.Env.VIRTUAL_HOST }}"
  }
]
{{end}}
