[
  {
{{ range $hash, $containers := groupBy $ "Env.LIBRESH_WEBHOOK_SECRET_HASH" }}
{{ $container:= index $containers 0 }}
    "id": "{{ $container.Env.LIBRESH_WEBHOOK_SECRET_HASH }}",
    "execute-command": "/opt/bin/libre",
    "include-command-output-in-response": true,
    "pass-arguments-to-command": [
      {
        "source": "url",
        "name": "action"
      } 
    ],
    "command-working-directory": "/data/domains/{{ $container.Env.VIRTUAL_HOST }}"
  }, {
{{end}}
    "id": "useless",
    "execute-command": "/usr/bin/uname"
  }
]
